:root{
    --btn-size:85px;
}
*{
    box-sizing: border-box;

}
body{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.calculator-body{
    width: 400px;
    height: 700px;
    border-radius: 30px;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);
    padding:2rem 1rem 1rem;
    background: white;

}
.screen{
    height: 25%;
    box-shadow:inset 0 0 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
    margin-bottom: 1rem;
}
.screen div{
    height: calc(100% / 3);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    color: rgba(0, 0, 0, .7);
}

.keys{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


button{
    width: var(--btn-size);
    height: var(--btn-size);
    margin-bottom: 10px;
    border-radius: 40px;
    border: 2px solid rgb(192, 192, 192);
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
button:focus{
    outline: none;
}
.bigger-size{
    width: calc(var(--btn-size)*2);
}
.operation-btn,.delete{
    background: #646464;
}
.num{
    background: #474747;
}
.light {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    color: white;
    font-size: 40px;
}